{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md">
        <form action="/" method="POST">
            <div class="form-group">
                <label for="user_name">Username</label>
                <input type="text" class="form-control" id="user_name" placeholder="Name" name="user_name" />
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="4" placeholder="What do you want to say?"
                    name="user_post"></textarea>
            </div>
            <button type="submit" class="btn btn-outline-primary">Post</button>
        </form>
    </div>
</div>
<h1 class="text-center">Your Feed</h1>
{% for user_post in user_posts %}
<div class="row justify-content-center">
    <div class="col-md">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ user_post[1] }}</h5>
                <p>{{ user_post[2] }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}